{{- $repositoryUrl := "https://github.com/rafaelmardojai/firefox-gnome-theme" -}}
{{- $themeInstallationPath := ".mozilla/firefox/default-release/chrome/firefox-gnome-theme" -}}

{{/* Firefox GNOME Desktop Integration Theme Configuration */}}
{
  "{{ $themeInstallationPath }}": {
    "url": "{{ $repositoryUrl }}",
    "type": "git-repo",
    "refreshPeriod": "24h"
  }
}
