{{- $fontsDir := "" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $fontsDir = ".local/share/fonts" }}
{{- end }}

["{{ $fontsDir }}/NerdFontsSymbolsOnly"]
  type = "archive"
  url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/NerdFontsSymbolsOnly.zip"
    
["{{ $fontsDir }}/JetBrainsMono"]
  type = "archive"
  url = "https://github.com/JetBrains/JetBrainsMono/releases/latest/download/JetBrainsMono-2.304.zip"
