{{- $iconsDir := "" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $iconsDir = ".local/share/icons" }}
{{- end }}

["{{ $iconsDir }}/MoreWaita"]
  type = "archive"
  url = "https://github.com/somepaulo/morewaita/archive/refs/heads/main.zip"
  exact = true
  stripComponents = 1
  refreshPeriod = "672h"