{{- $repositoryUrl := "https://github.com/somepaulo/morewaita" -}}
{{- $themeName := "morewaita" -}}

{{/* Morewaita Icon Theme Installation Configuration */}}
{
  ".local/share/icons/{{ $themeName }}": {
    "url": "{{ $repositoryUrl }}",
    "type": "git-repo",
    "refreshPeriod": "24h"
  }
}
