{{- $latestRelease := gitHubLatestRelease "starship/starship" -}}
{{- if not $latestRelease -}}
{{-   fail "Failed to retrieve Starship release information from GitHub API" -}}
{{- end -}}

{{- $starshipVersion := $latestRelease.TagName | toString -}}
{{- if not $starshipVersion -}}
{{-   fail "Invalid or missing version tag in GitHub release metadata" -}}
{{- end -}}

{{- $distributionUrl := printf "https://github.com/starship/starship/releases/download/%s/starship-x86_64-unknown-linux-gnu.tar.gz" $starshipVersion -}}

{
  ".local/bin": {
    "url": "{{ $distributionUrl }}",
    "type": "archive",
    "refreshPeriod": "24h",
    "executable": true,
    "stripComponents": 0
  }
}
