{{- if and (eq .chezmoi.os "linux") (contains "fedora" .chezmoi.osRelease.id) -}}
#!/usr/bin/env bash

set -x # Print commands and their arguments as they are executed.
set -e # Exit immediately if a command exits with a non-zero status.

# GDM 49+ uses dynamic users (via userdb) and no longer uses static user home
# dir
#
sudo mkdir -p /etc/xdg
sudo cp {{ .chezmoi.sourceDir }}/dot_config/monitors.xml /etc/xdg/monitors.xml
{{- end }}
