function fish_greeting
end

# User specific environment and startup programs.
#
set -gx STARSHIP_CONFIG $HOME/.config/starship/starship.toml

# Bash aliases are compatible with Fish.
#
source ~/.bashrc.d/bash_aliases

# Minimal cross-shell prompt. https://starship.rs/
#
starship init fish | source
