[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
ExecStart={{ output "which" "emacs" | trim }} --daemon
ExecStop={{ output "which" "emacsclient" | trim }} --eval "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target
