[Unit]
Description=Listen for changes in the OS color scheme and update Kitty's theme to match.

[Service]
Type=forking
Environment=\"PATH={{ .chezmoi.homeDir }}/.local/bin:/usr/local/bin:/usr/bin:/bin\"
ExecStart={{ .chezmoi.homeDir }}/.local/bin/kitty-daemon
RemainAfterExit=yes

[Install]
WantedBy=default.target

