[Unit]
Description=Kitty service to sync with system color-scheme

[Service]
Type=forking
RestartSec=5
Restart=on-failure
Environment="PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:%h/.local/bin:%h/.cargo/bin:%h/go/bin"
ExecStart=%h/.local/bin/kitty/kitty-color-scheme

[Install]
WantedBy=default.target
