[Unit]
Description=Listen to changes to the OS's color scheme and switch Kitty to a matching theme accordingly.

[Service]
Type=forking
Environment=\"PATH=/home/wroy/.local/bin:/usr/local/bin:/usr/bin:/bin\"
ExecStart=/home/wroy/.local/bin/kitty-daemon
RemainAfterExit=yes

[Install]
WantedBy=default.target

