#!/bin/bash

{{ if eq .osid "linux-fedora" }}
  flatpaks=(
    "com.github.tchx84.Flatseal"
    "org.gnome.Builder"
    "org.gnome.World.Secrets"
    "org.gnome.World.PikaBackup"
    "com.mattjakeman.ExtensionManager"
  )

  for flatpak in "${flatpaks[@]}"; do
    flatpak install -y flathub "$flatpak"
  done
{{ end }}
