#!/bin/bash

{{ if eq .osid "linux-fedora" }}
  sudo dnf install -y \
    gnome-tweaks

  sudo dnf install -y \
    adw-gtk3-theme

  sudo dnf install -y \
    kitty

  sudo dnf copr enable -y \
    agriffis/neovim-nightly

  sudo dnf install -y \
    neovim

  sudo dnf groupinstall -y \
    development-libs

  sudo dnf groupinstall -y \
    development-tools

  sudo dnf groupinstall -y \
    gnome-software-development

  sudo dnf install -y \
    gcc

  sudo dnf copr enable -y \
    @fedora-llvm-team/llvm-snapshots

  sudo dnf install -y \
    clang

  sudo dnf install -y \
    clang-tools-extra

  sudo dnf install -y \
    dotnet-sdk-7.0

  dotnet tool install -g \
    git-credential-manager || true

  # Cross-platform build toolchain for developing and packaging C/C++ projects.
  #
  if ! command -v b > /dev/null 2>&1; then
    cd ~ && mkdir Projects && cd Projects

    # Version identification.
    v=$(curl -s  'https://stage.build2.org/0/' | \
        grep -oP '(?<=href=")0\.\K\d+\.\d+'    | \
        sort -nr                               | \
        head -1)

    curl -O \
      "https://stage.build2.org/0/0.$v-a.0/build2-install-0.$v-a.0-stage.sh"
    sh build2-install-0.$v-a.0-stage.sh --local --cxx clang++
  fi

  # Cross-platform build toolchain for developing and packaging Rust projects.
  #
  if ! command -v cargo > /dev/null 2>&1; then
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
  fi
{{ end }}
