#!/bin/bash

{{ if eq .osid "linux-fedora" }}
  sudo sed -i \
    's/#FastConnectable = false/FastConnectable = true/' /etc/bluetooth/main.conf

  sudo sed -i \
    's/#ReconnectAttempts/ReconnectAttempts/' /etc/bluetooth/main.conf

  sudo sed -i \
    's/#ReconnectIntervals/ReconnectIntervals/' /etc/bluetooth/main.conf

  # XWayland manifests incorrect frame rendering with NVIDIA hardware. For
  # example, in GNOME and Plasma, this results in motion duplication and/or
  # high-frequency stuttering. Meanwhile, in wlroots and Sway, it causes
  # partially rendered frames with transparent segments. For now, disable
  # glamor support.
  #
  # See also:
  # https://gitlab.freedesktop.org/xorg/xserver/-/issues/1317
  #
  if ! grep -q "XWAYLAND_NO_GLAMOR=1" /etc/environment; then
    echo "XWAYLAND_NO_GLAMOR=1" | sudo tee -a /etc/environment > /dev/null
  fi

  # GTK GLES transition is not mature enough, so let's give tooling some time
  # to adjust and re-enable after a while, probably once Fedora 40 is out.
  #
  # Note: This is mostly targeted at nightly.gnome.org
  #
  if ! grep -q "GDK_DEBUG=gl-prefer-gl" /etc/environment; then
    echo "GDK_DEBUG=gl-prefer-gl" | sudo tee -a /etc/environment > /dev/null
  fi
{{ end }}
