#!/usr/bin/env bash

set -x # Print trace of simple commands.

sudo cp -rf {{ .chezmoi.sourceDir }}/etc /

# TMP: Remove once it's fixed on NV side.
#
echo "options nvidia NVreg_EnableGpuFirmware=0" | sudo tee -a /etc/modprobe.d/nvidia-gsp.conf
