#! /usr/bin/env bash

# Build Emacs ourselves as Fedora must still support X11, whereas we don't. So, 
# we can afford to pull in goodies like PGTK.
#

if ! command -v emacs > /dev/null 2>&1; then
  sudo dnf builddep -y \
    emacs

  sudo dnf install -y \
    libgee-devel

  cd ~/Projects/emacs

  sh autogen.sh
  sh configure --with-dbus \
               --with-gif \
               --with-jpeg \
               --with-png \
               --with-rsvg \
               --with-tiff \
               --with-xft \
               --with-xpm \
               --with-gpm=no \
               --with-xwidgets \
               --with-modules \
               --with-native-compilation \
               --with-pgtk \
               --with-json \
    CFLAGS="-O3 -mtune=native -march=native -fomit-frame-pointer"

  make make -j$((`nproc`+1)) NATIVE_FULL_AOT=1
  sudo make install
fi
