#!/usr/bin/env bash

# chezmoi has builtin support for age encryption which is automatically used if
# the age command is not found in $PATH.

mkdir -p {{ .chezmoi.homeDir }}/.age

chezmoi age decrypt --output {{ .chezmoi.homeDir }}/.age/key.txt \
                    --passphrase {{ .chezmoi.sourceDir }}/dot_age/key.txt.age

chmod 600 {{ .chezmoi.homeDir }}/.age/key.txt
