#!/usr/bin/env bash

# The cp commands normally treat the last operand specially when it is a
# directory or a symbolic link to a directory. For example, ‘cp source dest’ is
# equivalent to ‘cp source dest/source’ if dest is a directory. This behavior
# is not exactly what we want.
#
# Instead, do not treat the last operand specially when it is a directory or a
# symbolic link to a directory. That is, if cp -T /tmp/source /tmp/dest succeeds,
# there is no question that /tmp/source was renamed to /tmp/dest.
#
sudo cp -rfT {{ .chezmoi.sourceDir }}/.etc /etc

# The GSP firmware is enabled by default for supported GPUs (Turing and Ampere+
# architectures, such as the GTX 1650 and newer). That said, there is currently
# an issue with this firmware that results in significant stuttering and
# performance degradation.
#
grep -sxF "options nvidia NVreg_EnableGpuFirmware=0" /etc/modprobe.d/nvidia-gsp.conf || echo "options nvidia NVreg_EnableGpuFirmware=0" | sudo tee -a /etc/modprobe.d/nvidia-gsp.conf

# https://wiki.archlinux.org/title/GDM#Setup_default_monitor_settings
#
sudo cp {{ .chezmoi.sourceDir }}/dot_config/monitors.xml ~gdm/.config/monitors.xml
sudo chown gdm:gdm ~gdm/.config/monitors.xml
