#!/usr/bin/env bash

sudo dnf install -y fish
sudo dnf install -y git-delta
sudo dnf install -y wine
sudo dnf install -y winetricks
sudo dnf install -y steam
sudo dnf install -y firefoxpwa
sudo dnf install -y adw-gtk3-theme
