#!/usr/bin/env bash

sudo dnf install -y kitty
sudo dnf install -y neovim
sudo dnf install -y python3-pip && pip install pynvim
sudo dnf install -y fish
sudo dnf install -y git-delta
sudo dnf install -y wine
sudo dnf install -y winetricks
sudo dnf install -y steam
sudo dnf install -y firefoxpwa
sudo dnf install -y adw-gtk3-theme

# https://github.com/twpayne/chezmoi/discussions/1804
#
if [ ! -f "$HOME/.local/bin/raddbg.exe" ]; then
  wget https://github.com/EpicGamesExt/raddebugger/releases/latest/download/raddbg.zip -P "$HOME/.local/bin"
  unzip -o "$HOME/.local/bin/raddbg.zip" -d "$HOME/.local/bin"
  chmod +x "$HOME/.local/bin/raddbg.exe"
  rm "$HOME/.local/bin/raddbg.zip"
fi

# https://discussion.fedoraproject.org/t/i-am-no-longer-able-to-play-videos-with-totem-and-neither-with-some-gstreamer-based-players/115831/4
#
sudo dnf remove -y totem && flatpak install -y flathub org.gnome.Showtime

# Wine DPI settings for display scaling.
#
wine reg add "HKEY_CURRENT_USER\Control Panel\Desktop" /v LogPixels /t REG_DWORD /d 0xD8 /f
