#!/usr/bin/env bash

sudo dnf install -y fish
sudo dnf install -y scrcpy
sudo dnf install -y steam
sudo dnf install -y wine
sudo dnf install -y winetricks
sudo dnf install -y adw-gtk3-theme
sudo dnf install -y firefoxpwa

# Fedora Workstation no longer pre-installs deprecated GNOME X11 session for
# new installations. The problem is that Wine can sometimes end up in a broken
# state on Wayland (presumably, something wrong gets cached somewhere), which
# causes games that previously ran fine to start crashing every few minutes.
# It's not clear to me what the cause is or where the faulty cache lies, but
# using X11 stops crashes from happening, so we’ll want to preserve GNOME X11
# session for now.
#
sudo dnf install -y gnome-session-xsession
sudo dnf install -y gnome-classic-session-xsession

# Install DirectShow filters based on the libavformat and libavcodec libraries
# from the FFmpeg project. These filters enable Wine to play almost any media
# format in a DirectShow-compatible player.
#
# This addresses a common issue in older games where in-game cutscenes or
# movies would only show a black screen instead of the intended video content.
# Notable examples of such games include the Trails series from Nihon Falcom.
#
# XXX: Not included in `.chezmoiexternals/` since it does not support running
# post-hook commands.
#
if [ ! -d "$HOME/.wine/drive_c/Program Files (x86)/LAV Filters" ]; then
  wget https://github.com/Nevcairiel/LAVFilters/releases/latest/download/LAVFilters-{{ (gitHubLatestTag "Nevcairiel/LAVFilters").Name | replace "v" "" -}}-Installer.exe && wine $(basename "$_")
fi
if [ -d "$HOME/.wine/drive_c/Program Files (x86)/LAV Filters" ]; then
  sudo rm $HOME/LAVFilters-*
fi

winetricks directshow
