sourceDir = "{{- .chezmoi.workingTree -}}/linux"

encryption = "age"
[data]
  name = "William Roy"
  email = "wroy@proton.me"
[age]
  identity = "~/.config/age/key.txt"
  recipient = "age15zwzfmgglhwqa8htgrw868yl4hg3ug45lu8d95ne9th0r6r37dns4h9hmz"
