{
  "data": {
    "name": "William Roy",
    "email": "wroy@proton.me"
  },
  "encryption": "age",
  "age": {
    "identity": "{{ .chezmoi.homeDir }}/.age/key.txt",
    "recipient": "age15zwzfmgglhwqa8htgrw868yl4hg3ug45lu8d95ne9th0r6r37dns4h9hmz"
  }
}
