#!/usr/bin/env bash

set -x # Print trace of simple commands.

if ! command -v code > /dev/null 2>&1; then
  exit 0
fi

while read -r n; do
  [[ $(code --list-extensions) == *"$n"* ]] || code --install-extension "$n"
done < {{ joinPath .chezmoi.sourceDir "dot_config/Code/extensions.txt" | quote }}

# Claim ownership on Visual Studio Code's installation directory.
#
sudo chown -R $(whoami) "$(which code)"
sudo chown -R $(whoami) /usr/share/code
