#!/usr/bin/env bash

set -x # Print trace of simple commands.
set -e # Exit immediately if a pipeline returns a non-zero status.

systemctl --user enable kitty-daemon.service
systemctl --user start kitty-daemon.service
