# .bash_profile

# Get the aliases and functions
#
if [ -f ~/.config/bash/bashrc ]; then
  . ~/.config/bash/bashrc
fi

# User specific environment and startup programs
#
export PATH="$PATH:/home/wroy/.cargo/bin"
export PATH="$PATH:/home/wroy/.dotnet/tools"
