{{- if and (eq .chezmoi.os "linux") (contains "fedora" .chezmoi.osRelease.id) -}}
#!/usr/bin/env bash

if ! command -v code >/dev/null 2>&1; then
  sudo rpm -i 'https://code.visualstudio.com/sha/download?build=stable&os=linux-rpm-x64'
fi

while read -r n; do
  [[ "$n" =~ ^#.* ]] || [[ $(code --list-extensions) == *"$n"* ]] || code --install-extension "$n"
done < {{ joinPath .chezmoi.sourceDir "dot_config/Code/extensions.txt" | quote }}

# Claim ownership on Visual Studio Code's installation directory.
#
sudo chown -R $(whoami) "$(which code)"
sudo chown -R $(whoami) /usr/share/code
{{- end }}
