#!/bin/bash

alias v='nvim'
alias vi='nvim'
alias vim='nvim'

# Coreutils

alias ls='eza --hyperlink --icons=never'
alias cat='bat -pp'
alias man='batman'
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'
alias grep='grep -I'

alias tree='tree --filesfirst'
