" Ensure that vim-minimal, system-wide vimrc/gvimrc files, and files specified
" through the -u argument do not default to vi-compatible mode.
"
if &compatible
  set nocompatible
endif

" Better defaults
"
set whichwrap+=b,s,<,>,h,l
set virtualedit=block
set titlestring=%t
set splitkeep=screen
set nowrap
set title
set confirm
set splitbelow
set splitright
set termguicolors
set undofile
set expandtab
set breakindent
set smartindent
set preserveindent
set gdefault
set tabstop=2
set shiftwidth=0
set scrolloff=4
set pumheight=8
set suffixes-=.h
set cinkeys-=:
set indentkeys-=:
set shortmess+=sI

" Mouse support
"
set mouse=a
set ttymouse=sgr
set balloonevalterm

{{/* Unavailable with vim-minimal, but installing Vim will take precedence. */}}
{{- if (lookPath "vim") -}}
" Styled and colored underline support
"
let &t_AU = "\e[58:5:%dm"
let &t_8u = "\e[58:2:%lu:%lu:%lum"
let &t_Us = "\e[4:2m"
let &t_Cs = "\e[4:3m"
let &t_ds = "\e[4:4m"
let &t_Ds = "\e[4:5m"
let &t_Ce = "\e[4:0m"

" Strikethrough
"
let &t_Ts = "\e[9m"
let &t_Te = "\e[29m"

" Truecolor support
"
let &t_8f = "\e[38:2:%lu:%lu:%lum"
let &t_8b = "\e[48:2:%lu:%lu:%lum"
let &t_RF = "\e]10;?\e\\"
let &t_RB = "\e]11;?\e\\"

" Bracketed paste
"
let &t_BE = "\e[?2004h"
let &t_BD = "\e[?2004l"
let &t_PS = "\e[200~"
let &t_PE = "\e[201~"

" Cursor control
"
let &t_RC = "\e[?12$p"
let &t_SH = "\e[%d q"
let &t_RS = "\eP$q q\e\\"
let &t_SI = "\e[5 q"
let &t_SR = "\e[3 q"
let &t_EI = "\e[1 q"
let &t_VS = "\e[?12l"

" Focus tracking
"
let &t_fe = "\e[?1004h"
let &t_fd = "\e[?1004l"
execute "set <FocusGained>=\<Esc>[I"
execute "set <FocusLost>=\<Esc>[O"

" Window title
"
let &t_ST = "\e[22;2t"
let &t_RT = "\e[23;2t"

" vim hardcodes background color erase even if the terminfo file does
" not contain bce. This causes incorrect background rendering when
" using a color theme with a background color in terminals such as
" kitty that do not support background color erase.
"
let &t_ut=''
{{- end }}

" Quick way to move lines of text up or down.
"
" Explanation:
"
" The command :m .+1 (which can be abbreviated to :m+) moves the current line
" to after line number .+1 (current line number + 1). That is, the current
" line is moved down one line.
"
" The command :m .-2 (which can be abbreviated to :m-2) moves the current line
" to after line number .-2 (current line number − 2). That is, the current
" line is moved up one line.
"
" After visually selecting some lines, entering :m '>+1 moves the selected
" lines to after line number '>+1 (one line after the last selected line; '>
" is a mark assigned by Vim to identify the selection end). That is, the block
" of selected lines is moved down one line.
"
" The == re-indents the line to suit its new position. For the visual-mode
" mappings, gv reselects the last visual block and = re-indents that block.
"
nnoremap <A-j> :m .+1<CR>==
nnoremap <A-k> :m .-2<CR>==
inoremap <A-j> <Esc>:m .+1<CR>==gi
inoremap <A-k> <Esc>:m .-2<CR>==gi
vnoremap <A-j> :m '>+1<CR>gv=gv
vnoremap <A-k> :m '<-2<CR>gv=gv

" Change 'n' and 'N' behaviour to search consistently downwards and upwards
"
" Explanation:
"
" This uses expression-maps, which maps the lhs of the map to an expression
" that will be evaluated, everytime the lhs is encountered. See :h
" map-expression.
"
" What happens is, that the v:searchforward variable (which determines the
" internal state of which direction the last search was, see :h "
" v:searchforward) is used as an index for the string in front of it. So in
" case of the first map, if the last search direction was forward, the n will
" be mapped to 'n' (index of 1, meaning return the second character) and if it
" was backward, the 'n' will be mapped to 'N' (because the v:searchforward
" variable is 0 and therefore the 'N' will be returned.
"
nnoremap <expr> n 'Nn'[v:searchforward]
nnoremap <expr> N 'nN'[v:searchforward]
