# Grants access to the USB device.
#
SUBSYSTEM=="usb", ATTRS{idVendor}=="3297", ATTRS{idProduct}=="4974", TAG+="uaccess", ENV{ID_MM_DEVICE_IGNORE}="1", ENV{MTP_NO_PROBE}="1"

# Grants access to the raw HID interface.
#
KERNEL=="hidraw*", ATTRS{idVendor}=="3297", ATTRS{idProduct}=="4974", TAG+="uaccess"

# Grants access to the serial interface.
#
KERNEL=="ttyACM*", ATTRS{idVendor}=="3297", ATTRS{idProduct}=="4974", TAG+="uaccess"
