#!/bin/bash

{{ if eq .osid "linux-fedora" }}
  # dconf.ini hash: {{ include "private_dot_config/exact_dconf/readonly_dconf.ini" | sha256sum }}
  dconf load / < {{ joinPath .chezmoi.sourceDir "private_dot_config/exact_dconf/readonly_dconf.ini" | quote }}
{{ end }}
