#! /usr/bin/env bash

# alias v='$EDITOR'
# alias vi='$EDITOR'
# alias vim='$EDITOR'

alias v='neovide --frame=none'
alias vi='neovide --frame=none'
alias vim='neovide --frame=none'

# LC_COLLATE will arrange dot files at top of sorting order, 
# and --file-type will add indicators to entry names.
#
alias ls='LC_COLLATE=C /bin/ls --color=auto --file-type -v'
