# vim: ft=toml ts=2 sw=2 sts=2 et
#

[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}

{{/* store is unsafe, but many tools often fail to capture IO correctly (e.g. neogit) */ -}}
[credential]
  credentialStore = plaintext
	helper = {{.chezmoi.homeDir}}/.dotnet/tools/git-credential-manager

[init]
  defaultBranch = main

[pull]
  rebase = true

[rebase]
  autoStash = true
